@page "/counter"
@inject BlazorStateManagement.SessionState.CounterState CounterState

<h1>Counter</h1>

<p>Current count: @CounterState.GetCurrentCount()</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="CounterState.ResetCurrentCount">
    Reset Count
</button>

@code {
    int currentCount = 0;

    void IncrementCount()
    {
        // ** SESSION STATE
        int CurrentCount = CounterState.GetCurrentCount();
        CurrentCount++;
        // Set Current count on the Session State object
        CounterState.SetCurrentCount(CurrentCount);
    }
}
